<%= render 'layouts/about_navbar' %>
<div style="margin-bottom: 10px; border-bottom: 1px solid #ccc">
  <h1>BibTag <small>v1.0</small></h1>
</div>
<h4>BibTag is a Ruby on Rails application made for facets classification of resources.</h4>
