<%= render 'layouts/user_navbar' %>
<h2 align="center"><%= @user.nom %><small> personal space</small></h2>
<div style="margin-bottom: 15px">
  <h5>My informations | My resources</h5>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>MY COLLECTIONS</b>
      </div>
      <div class="panel-body">
        ...
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <b>MY CLASSIFICATIONS</b>
      </div>
      <div class="panel-body">
        ...
      </div>
    </div>
  </div>
</div>
