<%= form_for(@se_value) do |f| %>
  <% if @se_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@se_value.errors.count, "error") %> prohibited this se_value from being saved:</h2>

      <ul>
      <% @se_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
