<%= render 'layouts/about_navbar' %>
<div style="margin-bottom: 10px; border-bottom: 1px solid #ccc">
  <h1>BibTag <small>v2.0</small></h1>
</div>
<h5>BibTag is a Ruby on Rails application made for facets classification of resources.
<br />
<br />
Initiated by Vincent Ribaud from the ENSTA STIC research center, le project finally cames out with the help of Matthieu Gourvénec an IT student.</h5>
