<%= form_for(@resource_collection) do |f| %>
  <% if @resource_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_collection.errors.count, "error") %> prohibited this resource_collection from being saved:</h2>

      <ul>
      <% @resource_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
